
#welcome{
    display: flex;
    justify-content: space-evenly;
}

.list-card{
    position: relative;
    background-color: rgb(206, 206, 206);

    width: 200px;
    height: 200px;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#delete-btn{
    width: 25px;
    height: 25px;
    position: absolute;

    top: -5px;
    right: -5px;

    border-radius: 50%;
    background-color: red;
    border: none;

    font-size: 15px;
    font-weight: bold;
    color: white;
}


.btn-primary{
    width: 100%;
}
.img-container{
    display: flex;
    justify-content: space-evenly;
}

.img-container img{
    width: 50%;
    object-fit: contain;
}

#add-list-form{
    width: 100%;
    position: fixed;

    bottom: 20px;

    display: flex;
    justify-content: space-evenly;
}

#list-name{
    width: 80%;
}

#Reimbursement-container {

    display: flex;
    justify-content: space-evenly;

}


#Reimbursement-form{
    width: 500px;
    background-color: rgb(223, 223, 223);
    margin-top: 150px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgb(121, 121, 121);
}


#Reimbursement input{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 6px;
}


#ViewPast-container{
    display: flex;
    justify-content: space-evenly;

}


#ViewPast-form{
    width: 500px;
    background-color: rgb(223, 223, 223);
    margin-top: 150px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgb(121, 121, 121);
}
